@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
.main-title {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px 15px;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 50px auto;
  .sec-title {
    text-align: center;
    margin-bottom: 70px;
  }
}

/*------------------------------------
header
------------------------------------*/
#header {
  height: 740px;
  width: 100%;
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
